body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: rgba(151, 136, 151) 3px solid;
  opacity: 0.8;
  background: rgba(44, 44, 52);
}

#home-section {
  background-image: url("../assets/img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgb(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card {
  background: rgba(151, 136, 151);
  padding: 5px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas {
  color: rgba(98, 85, 98);
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: color 0.5s ease;
}

#home-section .fas:hover {
  color: rgb(151, 135, 151);
}

#explore-head-section #explore-btn {
  transition: all 0.5s ease;
}
#explore-head-section #explore-btn:hover {
  background-color: rgba(98, 85, 98);
  border-color: rgb(151, 135, 151);
}

#explore-section img,
#create-section img,
#share-section img {
  max-height: 600px;
  border-radius: 10px;
}
#explore-section,
#share-section {
  background-color: rgb(65, 57, 65);
}

#create-section .fas {
  color: #fff;
  background: rgba(98, 85, 98);
  padding: 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

#explore-section .fas,
#share-section .fas {
  color: #fff;
  background: #333;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

#explore-section .fas:hover,
#share-section .fas:hover,
#create-section .fas:hover {
  background: rgb(151, 135, 151);
}

#create-section {
  position: relative;
  background-image: url("../assets/img/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 900px;
}

#create-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 900px;
  background: rgb(0, 0, 0, 0.5);
}

#create-section img {
  max-height: 600px;
  border-radius: 10px;
}
